*{
   
    font-family: "Inter", sans-serif;
   
}




.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main"
  ;
}
 header, .sidebar, main {
    height: auto;
    min-height: 40dvh;
    padding-left: 20px;
    padding-top: 20px;
 }

 @media (max-width: 600px) {
  header,
  .sidebar,
  main {
    height: auto; /* Let content define height on small screens */
    min-height: 40dvh; /* Optional: minimum height for better spacing */
  }
}

header {
    grid-area: header;
    background-color: #f0f0f0;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
}

.circle {
    
    position: static;
        display: block;
        margin: 0 auto 20px auto;
        width: 150px;
        height: 150px;
    
    
}

.circle img {
    
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;

}

.sidebar {
    grid-area: sidebar;
    background-color: lightblue;
    
}

.sidebar > h3{
    text-align: center;
}

main {
    grid-area: main;
    background-color: lightcyan;
    
}
main > h3{
    text-align: center;
}